{% extends 'app/base.html' %}

{% block main %}
    
<h1 class="header">Crypto App</h1>
  <div class="search">  

<form action="" method="get" class="form">

{% comment %} <input class="coin-input" type="text" name="coin_name" placeholder='Provide the coin name'> {% endcomment %}

<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="coin_name">


<input class="btn btn-primary mb-3" type="submit" value="ADD">

</form>
</div>



{% for i in coin_data %}  
<div class="container">
<div class="coin_row">
    <div class="image">
        <img class="me-3" style="width:50px;" src="{{i.image}}" alt="">
        <h3>{{i.name}}</h3>
    </div>
    <div class="coin_data">
        <h4>{{i.market | floatformat:"-3g" }} $</h4>
        <h4>{{i.change | floatformat:2}}</h4>
        
      <a href="{% url 'delete' i.k.id %} "> 
            <button type="button" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>

            </button>
        </a>
        
    </div>
</div>


</div>
{% endfor %}

{% endblock main %} 